.mainSlider{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

button{
    width: 100px;
    height: 300px;
    font-size: 50px;
    border: none;
    cursor: pointer;
}