*{
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
}
.head_container{
    background-image:url(./img&icon/background.png);
    background-size: cover; 
    height: 100vh;
    }
 .navbar_menu { 
     height: 80px;
     display: flex;
     justify-content: space-around;
     align-items: center;  
 }   
 .navbar_menu>h3{
     color: white;
 }
 .navbar_menu> ul, img{
     align-items: center;
 }
 .navbar_menu>ul{
       list-style-type: none;
        display: inline-flex;
    }
.nav_link {
        text-decoration: none;
        margin-left: 15px;
        color: white;
        font-weight: bold;  
      }
 .vector_menu{
     position: absolute;
     right: 60px;
     top: 35px;
 }
.left_block{
    width: 510px;
    height: 240px;
    position: absolute;
    left: 350px;
    bottom: 300px;
}
.left_block>h1{
    margin-top: 10px;
    font-size: 50px;
    color: white;
}
.small_text{
    width: 376px;
    height: 60px;
}
.small_text>h4{
    margin-top: 10px;
    color: white;
    font-size: 19px;
}
.first_header_button{
     margin-top: 10px;
    border: none;
    border-radius: 50px;
    padding:  20px 40px;
    background: #FF7B47;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.second_header_button{
    border:1px solid white;
    border-radius: 50px;
    padding:  20px 40px;
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.agent{
   position: absolute;
   bottom: 0;
   right: 320px;
}
.container{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section_one{
    height: 530px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.main_content{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100px;
}

.first_tree_bloks{
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.card_item{
    width: 330px;
    height: 142px;
    background-color:  #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card_item_second{
    width: 330px;
    height: 142px;
    background-color:  #0D5C63;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section_two{
    height: 700px;
    background-color:#FAFAFA;;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.main_content_first{
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    text-align: center;
     height: 100px;
    }
    .second_four_bloks{
     width: 1040px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 80px;
     display: flex;
     justify-content: space-between;
     margin-bottom: 100px;
    }
.posts{
    width: 230px;
    height: 341px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    justify-content: space-around;
    background-color: white;
}
.posts>h5{
    font-weight:bold;
    margin-left: 29px;
}
.posts>p{
    font-size: 14px;
    margin-left: 29px;
}
.section_tree{
    height: 890px;
    background-color:#ffffff;;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.main_content_tried{
    margin-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100px;
}
.video_text{
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.girls_img{
    margin-bottom: 176px;
    width: 600px;
    height: 442px;
    background: linear-gradient(180deg,
     rgba(0, 0, 0, 0) 14.58%,
     rgba(56, 56, 56, 0.84) 100%);
}
.btn_img{
    position: absolute;
    left:270px;
    bottom: 350px;
    
}
.right_text>h2{
    font-size: 40px;
    Line height:57px;
}
.small_icons{
    margin-top: 51px;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    justify-content: flex-start;

}
.small_icons>img{
    Width:29.75px;
    Height: 29.65px;
margin-right: 22px;
}
.section_four{
    position: relative;
    height: 250px;
    background:#FAFAFA; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons_6x{
    width: 1000px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    bottom: 120px;
}

.sbs_div{
    width: 986px;
    height: 124px;
    background: #17213C;
    border: 1px solid #e6e6e6 ;
    position: absolute;
    bottom: -50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.email_src{
    background-color: white;
    border: 1px solid #e6e6e6 
    
}
.email_src>input{
    width: 450px;
    height: 58px;
    background: #F9F9F9;
border: 1px solid #E6E6E6;
box-sizing: border-box;
border-radius: 5px;
}
.email_src>button{
    width: 116px;
    height: 57px;
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
}

.blue_line{
    margin-top: 320px;
    width: 100%;
    height: 77px;
    background-color:#252B42;;
}
.section_finish{
    /* margin-top: -80px; */
    height: 808px;
    background: #F3F3F3;; 
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
}
.main_content_finish{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100px;
}
.section_finish{
    height: 1000px;
    background-color:#F3F3F3;;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.contacts{
    margin-left: auto;
    display: flex;
    margin-right: auto;
    width: 984px;
    height: 333px;
    background-color: white;
    margin-top: 123px;
    position: relative;
    justify-content: space-between;
}
.contact_one{
    margin-top: 50px;
    width: 328px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
.contact_btn{
    border: 1px solid #FF7B47;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color:#FF7B47;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    margin-top: 15px;
}
.contact_two{
    margin-top: 50px;
    width: 328px;
    height: 393px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    background-color: #252B42 ;
    position: absolute;
    color: white;
    bottom: -33px;
    left:328px;
}
.contact_two>img{
    position: relative;
}
.contact_two>.circle{
    position: absolute;
    top:110px;
}
.contact_btn1{
    border: 1px solid #ffffff;
    padding: 10px 20px;
    background: #252B42;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color:#ffffff;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    margin-top: 15px;
}
.contact_us{
    height: 142px;
    background: #FAFAFA;
    display: flex;

}
.contact_us1{
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: tomato; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left>button{
    margin-top: 10px;
    border: none;
    padding:  15px 40px;
    background: #FF7B47;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
.footer_block{
    height: 272px;
    background: #17213C;
    display: flex;
    align-items: center;
}
.footer_block_links{
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    display: flex;   
    height: 170px;
    justify-content: space-between;
    
}
.only_link{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.link_title{
    margin-bottom: 5px;
    text-decoration: none;
        color: white;
        font-weight: bold;
}
.only_link>a{
    text-decoration: none;
    color: white;
}
.only_link>div{
    display: flex;
    color: white;
    font-size: 25px;
}
.insta_fb{
    background: #FAFAFA;
    height: 74px;
    display: flex;
}
.insta_fb1{
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}
.social_icons>img{
    margin-right: 10px;
    
}