.title {
    color:black;
    font: bold;
    margin:5% 0;
}
#margin-div{
    margin:2% 0;
}
#margin-div1 {
    margin:2% 0;
}
#hrhr {
    margin:2% 0;
    width:870px;
}
#checks {
    margin:0 0.5%;
}
#margin_2 {
    margin:2% 0;
}
#sumbit {
    width:870px;
    height:50px;
    font-size: 25px;
  
}
#margin_3 {
    margin:2% 0;
}