input{
    margin:15px 0 0 50px ;
}
.input_st{
    display: block;
}
.allform{
    background-color: aqua;
    width: 500px;
}
@media screen and (max-width: 600px){
    .allform{
        background-color: red;    
    }
}