.Header{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Header>button{
      background-color: #000000;
      border: 2px solid #1A1A1A;
      border-radius: 15px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 15px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      padding: 16px 24px;
}
