body {
    margin: 0;
    padding: 0;
    background-color: darkgray;
    min-width: 100%;
    min-height: 100vh;
}

h3, h2, h1 {
    font-family: "Open Sans";
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    font-size: 10px;
}

.main {
    width: 887px;
    height: 604px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -302px;
    margin-left: -443.5px;
}

.main  h3 {
    margin: 5px;
    margin-top: 18px;
} 

.main_body{
    position: relative;
}


.logo {
    margin-top: 50px;
    margin-bottom: 35.5px;
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 61px 0 61px;  
    display: flex;
    justify-content: space-between;
}

.select{
    width: 360px;
    height: 48px;
    border: 1px solid #E5E5EA;
    color: black;
    padding: 14px;
    box-sizing: border-box;
    background-color: #fff;
}

.inp_wh {
    width: 360px;
    height: 48px;
    border: 1px solid #E5E5EA;
    color: #E5E5EA;
    padding: 14px;
    box-sizing: border-box;
    color: black;
}

.singin {
    text-transform: uppercase;
    width: 218px;
    height: 48px;
    background: #FF2D55;
    border-radius: 50px;
    border: none;
    color: #fff;
}

.botton {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 26px;
}

.links a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

.account {
    color: #8E8E93;
    margin-right: 46px;
}

.login {
    color: #FF2D55;

}

