*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url("./background.png");
    background-repeat: no-repeat;
  
}
.container{
    max-width: 1050px;
    margin: auto;
}
nav ul{
    list-style: none;
    display: flex;
    margin-top: 30px;
    padding-top: 8px;
    margin-left: 80px;
}
nav li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    margin-left: 21px;
}
#strong-a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    margin-left: 231px;
}


nav{
    display: flex;
}
header h2{
    margin-top: 30px;
    color: #FFFFFF;
}
#strong-li{
    display: flex;

    background: #23A6F0;
    margin-left: 45px;
    border-radius:5px ;
   
}
#strong-li img{
    margin-left: 15px;
}
.section-1 h2{
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.section-1{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.section-1 p{
    font-size: 20px;
line-height: 30px;
color: #FFFFFF;
letter-spacing: 0.2px;
margin-top: 35px;
}
.section-3 img{
    margin-left: 30px;
}
.button-div{
    margin-top: 35px;
}
.button-1{
    background: #23A6F0;
border-radius: 37px;
padding: 15px 36px;
border: none;
}
.button-1 a{
    text-decoration: none;
    color: white;
}
.button-2 a{
    text-decoration: none;
    color: white;
    padding: 11px 40px;
}
.button-2{
    background-color: transparent;
    padding: 11px 10px;
    border-radius: 37px;
    border: 1px  white solid;
    margin-left: 5px;
}
.bottom-div img{
    width: 400px;
    height: 410px;
}
.section-2{
    margin-top: 112px;
}
.section-2 h2{
    text-align: center;
    color: #252B42;
    font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
font-weight: bold;
}
.section-2 p{
    color: #737373;
    text-align: center;
letter-spacing: 0.2px;
}
.section-3{
    margin-top: 110px;
    display: flex;
    justify-content: center;
}
.section-3 p{
    color: #737373;
letter-spacing: 0.1px;
font-weight: bold;
font-size: 16px;
line-height: 24px;
}
.card-1 {
    margin-left: 50px;
}
.section-3 h1{
    font-weight: bold;
font-size: 40px;
line-height: 57px;
margin-left: 30px;

}
.card-2{ 
    margin-left: 62px;
}
.card-3{ 
    margin-left: 62px;
}
.card-4{ 
    margin-left: 62px;
}
.card-4 p{
    margin-left: 30px;
}
.section-5 {
    margin-top: 260px;
}
.section-5 h1{ 
    text-align: center;
letter-spacing: 0.2px;
}
.section-5div1{
    margin: auto;
}
.section-5div1 p{
    color: #737373;
    font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
}
.section-5-flexdiv{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.user-div1-text h2{
    font-size: 24px;
line-height: 32px;
color: #252B42;
letter-spacing: 0.1px;
}
.user-div1-text  h3{
    letter-spacing: 0.2px;
    color: #737373;
}
.user-div1{
    display: flex;
}
.user-div1-text{
    margin-left: 30px;
    padding-top: 40px;
}
.user-div1-text img{
    margin-top: 16px;
}
.user-div1-text  p{
    color: #737373;
    margin-top: 16px;
    font-size: 14px;
line-height: 20px;
}
.section-6{
    margin-top: 224px;
}
.text-center{
    text-align: center;
}
.text-center h2{
    font-size: 40px;
line-height: 57px;
color: #252B42;
}
.text-center p{
    color: #737373;
    font-size: 14px;
line-height: 20px;
}
.video-div{
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    
}
.video-div1 {
    padding-top: 50px;
}
.video-div1 h2{
    font-size: 24px;
line-height: 32px;
color: #252B42;

}
.video-div1 p{
    font-size: 14px;
line-height: 20px;
color: #737373;
}
.video-div2{
    display: flex;
    margin-top: 50px;
}
.video-div2 h2{
    font-size: 16px;
line-height: 24px;
color: #252B42;
margin-left: 20px;
}
.video-div2 img{
    width: 50px;
    height: 50px;
}
.video-div2 span{
    font-size: 14px;
line-height: 24px;
color: #737373;
display: block;
}
.section-7{
    margin-top: 224px;
}
.card-3{
    text-align: center;
}
.card-3 p{
    color: #737373;
    font-size: 14px;
line-height: 20px;
}
.card-7-1{
    border: 1px solid #23A6F0;
    border-radius: 10px;
}

.card-7-2{
    border: 1px solid #23A6F0;
    border-radius: 10px;
    margin-left: 20px;
}
.card-7-1 h2{
    color: #252B42;
    font-size: 24px;
line-height: 32px;
text-align: center;
margin-top: 50px;
}
.card-7-1  p{
    color: #737373;
    font-size: 16px;
line-height: 24px; 
margin-top: 20px;
text-align: center;
padding: 0px 20px;
}
.section-7-card{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.card-7-2 h2{
    color: #252B42;
    font-size: 24px;
line-height: 32px;
margin-top: 50px;
text-align: center;
}
.card-7-2  p{
    color: #737373;
    font-size: 16px;
line-height: 24px; 
text-align: center;
margin-top: 20px;
padding: 0px 20px;
}
.card-flex{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.zero{
    width: 40px;
    height: 40px;
}
.card-flex p{
    color: #8EC2F2;
    font-size: 14px;
line-height: 24px;
}
.many{
    margin-left: 30px;
}
.test{
    display: flex;
    padding: 10px 40px;
    align-items: center;
}
.test span{
    margin-left: 10px;
}
.button-center{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 35px;
}
.button-center button{
    border-radius: 5px;
    padding: 17px 102px;
    background-color:#23A6F0;
    color: white;
    border: none;
}
.last-div{
    background-image: url("./cover.jpg");
    padding-top: 150px;
    margin-top: 150px;
    background-repeat: no-repeat;
}
.login{
    background-color: white;
    text-align: center;
}
.login h3{
    padding-top: 30px;

}
.logo h2{
    font-size: 40px;
line-height: 57px;

}
.input-section-1 {
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    
}
.input-section-1 input{
    padding: 15px 250px 15px 20px;
    background: #F9F9F9;
border: 1px solid #E6E6E6;
box-sizing: border-box;
border-radius: 5px;
}
#input-change{
    padding: 15px 250px 15px 20px;
    background: #F9F9F9;
border: 1px solid #E6E6E6;
box-sizing: border-box;
border-radius: 5px;
}
textarea{
    border: 1px solid #BDBDBD;
box-sizing: border-box;
border-radius: 5px;
background: #F9F9F9;
color: #BDBDBD;
text-align: left;
}
.button{
    display: block;
    padding: 15px 40px;
    background: #23A6F0;
border-radius: 5px;
border: none;
color: white;
}
.button-div{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.last-div1{
    display: flex;
    margin-top: 230px;
}
.last-section-1 h2{
    color: #252B42;
    font-size: 24px;
line-height: 32px;
}
.last-section-1 p{
    margin-top: 25px;
    color: #737373;
    font-size: 14px;
line-height: 24px;
}
.last-section-2 h2{
    color: #252B42;
    font-size: 24px;
line-height: 32px;
}

.last-section-2 p{
    margin-top: 15px;
    color: #737373;
    font-size: 14px;
line-height: 24px;
}
.last-section-2{
    margin-left: 55px;
}

.last-section-3{
    margin-left: 190px;
}

.last-section-3 p{
    margin-top: 15px;
    color: #737373;
    font-size: 14px;
line-height: 24px;
}


.last-section-4 p{
    margin-top: 15px;
    color: #737373;
    font-size: 14px;
line-height: 24px;
}
.last-section-4{
    margin-left: 100px;
}
.link-div{
    margin-top: 50px;
}
.link-div img{
    margin-left: 15px;
}
.link-div a{
    text-decoration: none;
}
footer{
    text-align: center;
    color: #737373;
    font-size: 14px;
line-height: 24px;
padding: 105px 0px 25px 0px;
}
#mobile-img{
    display: none;
}
#mobile-img-2{
    display: none;
}
.section-3 img{
    animation: svg-rotate 5s linear 2s infinite;
   
}

    @keyframes svg-rotate {
        0%   {background-color:red; }
        25%  {background-color:yellow;}
        50%  {background-color:blue; }
        75%  {background-color:green; }
        100% {background-color:red; }
      }
#hidden-block{
    animation: m 5s linear 2s infinite;
}
@keyframes m {
    0%   {background-color:red; 
        padding-top:10px ;
    }
    25%  {background-color:yellow;
        padding-top:20px ;    
    }
    50%  {background-color:blue;
        padding-top:30px ;
        }
    75%  {background-color:green;
        padding-top:31px ;
    }
    100% {background-color:red; 
        padding-top:32px ;
    }
  }
  .hidden-last-div{
      display: none;
  }