.container{
    max-width: 1440px;
    margin: auto;
  
    
}
body{
    background-color: yellow;
    padding: 0;
    margin: 0;
}
.bigposts{
    flex: 20%;
    border: 2px,  solid, black;
}
#uf{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.post {
    background-color: rgb(228, 149, 149);
    width: 200px;
    height: 200px;
    margin-top: 50px;
    font-size: 14px;
    cursor: move;
}

.dark-mode {
    background-color: rgb(82, 85, 90);
    color: rgb(255, 255, 255);
  }