.container{
    max-width: 1440px;
    margin: auto;
   background-color: black;
  
    
}
body{
    background-color: yellow;
    padding: 0;
    margin: 0;
}
.bigposts{
    flex: 20%;

}
.bigposts1{
    flex: 20%;

}
.bigposts2{
    flex: 20%;

}
#uf{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
#uf1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    z-index: 12;
    display: none;
}
#uf2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    z-index: 12;
    display: none;
}
.post {
    background-color: rgb(228, 149, 149);
    width: 200px;
    height: 200px;
    margin-top: 50px;
    font-size: 14px;
    
}

.dark-mode {
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
  }