table {
    width:100%;
}
table, th, td {
    border:1px solid black;
    color: rgb(0, 0, 8);
  }
  td {
      
      height: 100px;
  }
  div {
      background-color: rgb(107, 197, 5);
      height: 70px;
      width: 250px;
  }
  img {
      width: 100px;
      height: 100px;
  }
  mark {
    background-color: yellow;
    color: black;
  }
  span {
      color: blue;
  }  

  tbody tr:nth-child(even)
  {
background: greenyellow;  
}

.td1 {
    transition: 1s; 
    text-align: center;
   }
   .td1:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }

