.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ul{
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  background-color: #5a5a5a;
  height: 50px;
  align-items: center;
}


.elements{
  display: flex;
  background-color: rgb(80, 80, 141);
  height: 80px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-radius: 50px;
  margin-left: 10%;
}