
.myh1tag{
    display: inline-block;
    padding-left: 15px;
}
.mycodeh1{
    display: none;

}
.myh1tag:hover {
    color: blue;
    cursor: pointer;
}
.myh1tag:hover + .mycodeh1{
    color: blue;
    cursor: pointer;
    display: inline-block;
}
.div-teg-p{
    display: inline-block;
    padding-left: 15px;
}
.div-teg-p:hover{
    color: blue;
    cursor: pointer;
}
.div-example{
    background-color: blue;
    padding: 20px;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left: 15px;
}
.div-example:hover{
    background-color: black;
    color: white;
}
.div-hover{
    display: none;
}
.div-example:hover + .div-hover{ 
    display: inline-block;
}
.input-p{
    display: inline-block;
    padding-left: 15px;
}
.input-hover{
    display: inline-block;

}
.input-p-hover{
    display: none;
}
.input-hover:hover  + .input-p-hover {
    display: inline-block;
    color: red;
}
.my-inputs{
    margin-top: 70px;
}
.my-link{
    padding-left: 15px;
    display: inline-block;
}
.a-teg{
    display: none;
}
.a-hover{
    
    display: inline-block;
}
.a-hover:hover{
    color: black;
}
.a-hover:hover + .a-teg{
    display: inline-block;
}
.ul-li-p {
    padding-left: 15px;
    display: inline-block;
}
.my-ul{
    display: inline-block;
}
.ul-li-hover{
    display: none;
}
.my-ul:hover + .ul-li-hover{
    display: inline-block;
    cursor: pointer;
}